{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<body>
	<h4>Login Success! Welcome to your checking account dashboard!</p>
	<h5>Service Options: </h5>
    <nav>
        <ul>
            <li>
				<!--<form id="login_form" action="{{ url_for('logout') }}" method="post">-->
					<button type="submit" name="action" value="withdraw">Withdraw</button>
				<!--</form>-->
			</li>
            <li>
				<!--<form id="login_form" action="{{ url_for('logout') }}" method="post">-->
					<button type="submit" name="action" value="deposit">Deposit</button>
				<!--</form>-->
            <li>
				<form id="login_form" action="{{ url_for('logout') }}" method="post"> 
					<button type="submit" name="action" value="logout">Logout</button>
				</form>
			</li>
        </ul>
    </nav>
</body>
{% endblock %}
	

