{% extends "layout.html" %} {% block title %}Deposit{% endblock %} {% block
content %}
<body>
  <h4>Hi {{username}}! Your current balance is ${{balance}}.</h4>
  <h4>How much would you like to deposit?</h4>
  <br />
  <!-- Categories include warning, success and danger. These can be set in the python script with flash command. -->
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- check -->
    {% if messages %} {% for category, message in messages %}
    <!-- https://getbootstrap.com/docs/5.3/components/alerts/#examples under dismissing-->
    <div
      class="alert alert-{{ category }} alert-dismissible fade show"
      role="alert"
    >
      <span> {{ message }} </span>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true"> &times;</span>
      </button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
  </div>
  <br />
  <form
    id="deposit_form"
    action="{{ url_for('deposit_verify', username=username) }}"
    method="post"
  >
    <label style="margin-bottom: 8px">Deposit Amount</label>
    <br />
    <input
      type="number"
      step=".01"
      name="deposit_amount"
      placeholder="Deposit Amount"
    />
    <br />
    <button
      type="submit"
      name="action"
      value="deposit"
      onclick="alert('Verifying!')"
    >
      Deposit
    </button>
  </form>
</body>
{% endblock %}
