<!DOCTYPE html>
<html lang="en">
    <header>
        <h1>Welcome to your bank account {{username}}</h1>
        <h3> Your current balance is ${{balance}} </h3>
        <h2>How much would you like to deposit?</h2>
        <br>
        <br>
        <br>
        <form action="deposit_success.html" method="post">
        <label style="margin-bottom: 8px;">deposit amount</label><br>
        <input type="number" name="deposit_amount" placeholder="deposit_amount"/>
        <label style="margin-bottom: 8px;">Username</label><br>
        <input type="text" name="username" placeholder="username"/>
        <a href="deposit_success">
            <button type="submit" onclick="home()">Deposit</button>
        </a>
        </form>    
    </header>
</html>