<!DOCTYPE html>
<html lang="en">
    <header>
        <h1>Welcome to our insecure bank application for SWE 266</h1>
        <h3>by Dylan, Haren, Hank, and Ryan</h3>
        <p>Don't have an account? Register below!</p>
        <a className="Register" href="register.html" rel="noopener noreferrer">Register</a>
        <p>
            <h5>Login</h5>
            <h6 style="margin-bottom: 8px;">username</h6>
            <input type="text" placeholder="Username"/>
            <br>
            <a className="forgot_password" href="forgot_password.html" rel="noopener noreferrer">Forgot Password?</a>
            <p>The password for that username is: {{data}}</p>
            <h6 style="margin-bottom: 8px;">password</h6>
            <input type="password" placeholder="Password"/>
          </p>
          <a href="/">home</a>
    </header>
</html>