<!DOCTYPE html>
<html lang="en">
    <header>
        <h1>Welcome to our insecure bank application for SWE 266</h1>
        <h3>by Dylan, Haren, Hank, and Ryan</h3>
        <p>Don't have an account? Register below!</p>
        <a className="Register" href="register.html" rel="noopener noreferrer">Register</a>
        <p>
            <h5>Login</h5>
            <form id="login_form" method="post"> 
                <h6 style="margin-bottom: 8px;">username</h6>
                <input id="username_input" type="text" name="username" placeholder="Username"/>
                <br>
                <button type="submit" name="forgot_password" formaction="forgot_password.html" formmethod="post" value="forgot_password"> Forgot Password?</button>
                <input type="hidden" name="action" value="forgot_password">
                <h6 style="margin-bottom: 8px;">password</h6>
                <input type="password" name="password" placeholder="Password"/>
                <button type="submit" name="login" formaction="account.html" value="login">Login</button>
            </form>
          </p>
    </header>
</html>