<!--
<html lang="en">
	<title>Vulnerable Bank</title>
        <p>Don't have an account? Register below!</p>
        <a className="Register" href="register.html" rel="noopener noreferrer">Register</a>
        <p>
            <h5>Login</h5>
            <form id="login_form" action="account.html" method="post"> 
                <h6 style="margin-bottom: 8px;">username</h6>
                <input id="username_input" type="text" name="username" placeholder="Username"/>
                <br>
                <button type="submit" name="action" value="forgot_password">Forgot Password?</button>
                <input type="hidden" name="action" value="forgot_password">
                <h6 style="margin-bottom: 8px;">password</h6>
                <input type="password" placeholder="Password"/>
                <button type="submit" name="action" value="login">Login</button>
            </form>
          </p>
</html>
-->

{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li>
				<a className="Login" href="/login" rel="noopener noreferrer">
					User Login
				</a>
			</li>
            <li>
				<a className="Register" href="/register" rel="noopener noreferrer">
					Create and Register an Account
				</a>
			</li>
			</li>
        </ul>
    </nav>
</body>
{% endblock %}
