<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Vulnerable Bank Layout Page{% endblock %}</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static',filename='css/main.css')}}"
    />
</head>
<body>
    <div style = "width: 100%; display: flex; justify-content: center;" >
        <div class = "content"> 
            <header>
                <h1>Vulnerable Bank</h1>
                <h2>Insecure bank application for 2024 Spring SWE266P</h1>
                <h5>by Dylan, Haren, Hank, and Ryan</h5>
                <br>

            </header>
            <main>
            {% block content %}
             <!-- Main content will be injected here -->
            {% endblock %}
            </main>

            <footer>
            <br>
            <p style="font-size:10px; text-align: center; padding: 5px;">&copy; 2024 DHR Website</p>
            </footer>
        </div>
    </div>
</body>
</html>

