{% extends "layout.html" %} {% block title %}User Register{% endblock %} {%
block content %}
<body>
  <h2>User Register</h2>
  <h5>
    Please enter your desired username and password for your account below!
  </h5>
  <form id="login_form" action="{{ url_for('register_verify') }}" method="post">
    <h5 style="margin-bottom: 10px; text-align: left">Username</h5>
    <input
      style="text-align: left; float: left; margin-bottom: 20px"
      id="username_input"
      type="text"
      name="username"
      placeholder="Username"
    />
    <br />
    <h5 style="margin-bottom: 10px; text-align: left">Password</h5>
    <input
      style="text-align: left; float: left; margin-bottom: 20px"
      id="password_input"
      type="password"
      name="password"
      placeholder="Password"
    />
    <br />
    <h5 style="margin-bottom: 10px; text-align: left">Type Password Again</h5>
    <input
      style="text-align: left; float: left; margin-bottom: 40px"
      id="password_input_2"
      type="password"
      name="password2"
      placeholder="Retype Password"
    />
    <br />
    <button type="submit" name="action" value="login">Login</button>
  </form>
</body>
{% endblock %}
