<!DOCTYPE html>
<html lang="en">
    <header>
        <h1>Register</h1>
    </header>
    <body>
        <p>
            Please enter your desired username and password for your account below
            <form action="register.html" method="post"> <!--the action attribute is a url to where the input info goes to. in this case it will go to register() in bank.py-->
            <label style="margin-bottom: 8px;">username</label><br>
            <input type="text" name="register_username" placeholder="Username"/><br><br>
            <label style="margin-bottom: 8px;">password</label><br>
            <input type="password" name="register_password" placeholder="Password"/><br><br>
            <label style="margin-bottom: 8px;">initial balance</label><br>
            <input type="number" name="register_balance" placeholder="balance"/>
            <a href="registered">
            <button type="submit" onclick="home()">Register</button>
            </a>
            </form>
        </p>
        <a href="/">home</a>
    </body>
</html>