{% extends "layout.html" %} {% block title %}User Register{% endblock %} {%
block content %}
<body>
  <h2>User Register</h2>
  <h5>Create username and password for your account below!</h5>
  <h7 style="font-size: 14px; margin-bottom: 10px; margin-bottom: 20 px">
    Password can only contain understores, dots, digits and lowercase
    letters.</h7
  >

  <!-- Categories include warning, success and danger. These can be set in the python script with flash command. -->
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- check -->
    {% if messages %} {% for category, message in messages %}
    <!-- https://getbootstrap.com/docs/5.3/components/alerts/#examples under dismissing-->
    <div
      class="alert alert-{{ category }} alert-dismissible fade show"
      role="alert"
    >
      <span> {{ message }} </span>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true"> &times;</span>
      </button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
  </div>

  <form id="login_form" action="{{ url_for('register_verify') }}" method="post">
    <h5 style="margin-bottom: 10px; text-align: left">Username</h5>
    <input
      style="text-align: left; float: left; margin-bottom: 20px"
      id="username_input"
      type="text"
      name="username"
      placeholder="Username"
    />
    <br />
    <h5 style="margin-bottom: 10px; text-align: left">Password</h5>
    <input
      style="text-align: left; float: left; margin-bottom: 20px"
      id="password_input"
      type="password"
      name="password"
      placeholder="Password"
    />
    <br />
    <h5 style="margin-bottom: 10px; text-align: left">Confirm Password</h5>
    <input
      style="text-align: left; float: left; margin-bottom: 20px"
      id="password_input_2"
      type="password"
      name="password2"
      placeholder="Retype Password"
    />
    <h5 style="margin-bottom: 10px; text-align: left">Initial Balance</h5>
    <input
      style="text-align: left; float: left; margin-bottom: 40px"
      id="initial_balance"
      type="number"
      name="initial_balance"
      placeholder="Initial Balance"
      step="0.01"
    />
    <br />
    <button type="submit" name="action" value="login">Register</button>
  </form>
</body>
{% endblock %}
